absl-py
aioice
aiortc
altair
asttokens
astunparse
attrs
av
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
contourpy
cryptography
cycler
decorator
dnspython
exceptiongroup
executing
flatbuffers
fonttools
gast
gitdb
GitPython
google-crc32c
google-pasta
grpcio
h5py
idna
ifaddr
importlib_metadata
importlib_resources
ipython
jedi
Jinja2
jsonschema
jsonschema-specifications
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
ml-dtypes
namex
numpy
opt-einsum
optree
packaging
pandas
parso
pillow
plotly
prompt_toolkit
protobuf
pure-eval
pyarrow
pycparser
pydeck
pydub
pyee
Pygments
pylibsrtp
pyOpenSSL
pyparsing
python-dateutil
pytz
referencing
requests
rich
rpds-py
six
smmap
stack-data
streamlit
streamlit-audiorec
streamlit-audiorecorder
streamlit-webrtc
tenacity
tensorboard
tensorboard-data-server
tensorflow
tensorflow-intel
tensorflow-io-gcs-filesystem
termcolor
toml
toolz
tornado
traitlets
typing_extensions
tzdata
urllib3
watchdog
wcwidth
Werkzeug
wrapt
zipp
